// Colours
$blue: #6C63FF;
$dark: #2B2B2B;
$lightgrey: #EAEAEA;
$darkgrey: #757575;
$white: #ffffff;

// Socials colours
$twitter : #00ACEE;
$linkedin: #0077B5;

// Bulma overides
$primary: $blue;

$tag-background-color: $dark; 
$tag-color: $white;

$card-background-color: $white;

$input-background-color: $lightgrey;
$input-placeholder-color: $darkgrey;
$input-icon-color: $darkgrey;

// Smooth scroll
html {
  scroll-behavior:smooth;
}

#projects, #skills, #about, #contact {
  min-height: 100vh;
}

.dynamic-text {
  color: blue;
}

#projects {
  background-color: $lightgrey;
}

#skills {
  .card {
    background-color: $lightgrey;
  }
}

// #projects .card {
//   border: black 1px solid;
// }


@import "../../node_modules/bulma/bulma.sass";

