// Colours
$blue: #6C63FF;
$dark: #2B2B2B;
$lightgrey: #EAEAEA;
$darkgrey: #757575;
$white: #ffffff;

// Bulma overides
$primary: $blue;

$size-1: 3.5rem;

$tag-background-color: $dark; 
$tag-color: $white;

$card-background-color: $white;

$box-background-color: $lightgrey;

$input-background-color: $lightgrey;
$input-placeholder-color: $darkgrey;
$input-icon-color: $darkgrey;

// Smooth scroll
html {
  scroll-behavior:smooth;
}

#projects, #skills, #about, #contact {
  min-height: 100vh;
}

.dynamic-text {
  color: blue;
}

#projects {
  background-color: lightblue;
}

#skills {
  .card {
    background-color: $lightgrey;
  }
}

#hero .description, .base{
  font-family: 'Fira Mono', monospace;
}

.iconic {
  font-size: 100px;
}

#skills {
  background-color: $lightgrey;
  .box {
    background-color: white;
    // border: 1px solid black;
  }
}

.WeatherDynamic img {
  height: 50px;
  width: 50px;
}


@import "../../node_modules/bulma/bulma.sass";

.bulma-hamburger-mixin {
  @include hamburger(64px);
}