@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth !important;
  }
  h1 {
    @apply text-5xl lg:text-6xl font-bold;
  }
  h2 {
    @apply text-2xl lg:text-3xl 2xl:text-4xl;
  }
  section {
    @apply min-h-screen;
  }
  @font-face {
    font-family: "Share Tech Mono";
    src: url("../public/fonts/ShareTechMono-Regular.woff2") format(woff2);
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "Fira Sans";
    src: url("../public/fonts/FiraSans-Light.woff2") format(woff2);
    font-weight: 300;
    font-display: swap;
    font-style: light;
  }
  @font-face {
    font-family: "Fira Sans";
    src: url("../public/fonts/FiraSans-Regular.woff2") format(woff2);
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "Fira Sans";
    src: url("../public/fonts/FiraSans-Bold.woff2") format(woff2);
    font-weight: 600;
    font-display: swap;
    font-style: bold;
  }
}

@layer components {
  nav {
    @apply font-shareTech;
  }
  .sectionContainer {
    @apply container mx-auto px-6 lg:px-8 2xl:px-4 w-full;
  }
  .sectionHeading {
    @apply pt-8 w-full uppercase font-shareTech text-black dark:text-secondary;
  }
  .sectionSubheading {
    @apply py-8 font-light text-black dark:text-secondary;
  }
  .socialIcon {
    @apply rounded-full shadow-lg p-5 cursor-pointer hover:scale-125 ease-in duration-300;
  }
  .socialIcon_white {
    @apply bg-white;
  }
  .socialIcon_secondary {
    @apply bg-secondary;
  }
  .card {
    @apply p-4 shadow-lg rounded-md;
  }
  .card_white {
    @apply bg-white dark:bg-slate;
  }
  .card_secondary {
    @apply bg-secondary;
  }
  .btn {
    @apply px-4 py-2 rounded-md flex items-center justify-center;
  }
  .btn_blue {
    @apply text-white bg-blue hover:bg-[#8b85ff];
  }
  .btn_disabled {
    @apply bg-gray300 text-gray cursor-not-allowed;
  }
  .projectCard {
    @apply rounded-md p-0;
  }
  .badge {
    @apply inline-flex items-center rounded-md bg-white px-2 py-1 text-sm font-medium ring-1 ring-inset ring-gray;
  }
}
